<!DOCTYPE html>
<html ng-app="sandboxApp" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Compile Sandbox</title>

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/sb-admin.css" rel="stylesheet">
  <link href="/css/plugins/morris.css" rel="stylesheet">
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/lib/angular.js"></script>
  <script src="/js/lib/angular-route.js"></script>
  <script src="/js/controller.js"></script>
</head>

<body>

  <div id="wrapper" ng-controller="UploadController as ctrl">
    <% include navigation.ejs %>

      <div id="page-wrapper-margin">
        <div class="container-fluid">

          <div class="row">
            <div class="col-md-6 col-md-offset-3">

              <h2>Upload testfile</h2>

              <form name="uploadForm" ng-submit="uploadFile()">

                <div class="form-group {{ctrl.courseClass}}">
                  <label class="control-label" for="courseCode">Course code</label>
                  <select ng-repeat="courseCode in body.courseCodes" ng-model="body.courseCode" class="form-control" name="courseCode" required>
                    <option>{{courseCode}}</option>
                  </select>
                </div>
                <div class="form-group {{ctrl.assignmentClass}}">
                  <label class="control-label" for="assignmentID">Assignment ID</label>
                  <input ng-model="body.assignmentID" type="text" class="form-control" name="assignmentID" placeholder="Assignment ID" required/>
                </div>
                <div class="form-group {{ctrl.languageClass}}">
                  <label for="languageID">Language</label>
                  <select ng-model="body.languageID" class="form-control" name="languageID" required>
                    <option>Java</option>
                  </select>
                </div>

                <div class="form-group">
                  <input file-model="myFile" type="file" name="file" required/>
                </div>
                <div>
                  <input type="submit" class="btn btn-primary btn-block" />
                </div>
              </form>

              <div ng-show="showError">
                <div class="">
                  <div class="alert alert-danger">
                    <pre class="pre-danger">
                      <h3>Error occured</h3>
                      <p>{{error}}</p>
                    </pre>
                  </div>
                </div>
              </div>

              <div ng-show="showResult">
                <div class="col-lg-12">
                  <div class="alert alert-success">
                    <pre class="pre-success">
                      <h3>Testfile uploaded</h3>
                      <p>The id for the testfile is: <strong>{{result.id}}</strong></p>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</body>

</html>
